* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Helvetica, sans-serif;
}

body {
    background: #e9e9e9;
}

header {
    height: 100%;
    background: #262626;
    color: #d3d3d3;
    padding: 20px 30px;
}

main {
    background: #ffffff;
    border: solid;
    border-color: #262626;
    border-width: thin;
    margin: 30px;
    border-radius: 5px;
}

h1{
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    margin: 10px;
    color: #d3d3d3;
}

legend {
    font-weight: bold;
    font-size: 20px;
}

main dl dt {
    margin-left: 20px;
    margin-right: 20px; 
    font-weight: bold;
    margin-bottom: 0;
}

main dl dd {
    margin: 0 20px 10px 20px;
}

label {
    display: block;
}

input, select {
    background: #ffffff;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    height: 38px;
    padding: 10px 5px;
    font-size: 0.8em;
}

input[type=checkbox] {
    width: 5%;
    height: 15px;
}

input:valid {
    border-color: green;
}

button {
    font-size: 1.3em;
    width: 90%;
    height: 35px;
    margin: 10px;
    background:#1e90ff;
    color: #ffffff; 
    cursor: pointer;
    padding: 15px, 25px;
    border-radius: 6px;
    transition: background 0.3s;
}

button:hover {
    background: #262626;
    color: #ffffff;
}

img {
    width: 100%;
    border: solid;
    border-color: #dcdcdc;
    border-width: thin;
    border-radius: 5px;
}

fieldset label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.dados {
    height: 100%;
    margin: 2em 2em 1em 2em;
}

#bordacompra {
    border: solid;
    border-color: #a9a9a9;
    border-width: thin;
    background: #262626;    
}

#newsletter {
    display: inline;
    font-size: 0.9em;
    margin-left: 4px;
}

#imagem {
    text-align: center;
    padding: 10px 20px;
}

#botao {
    text-align: center;
}

#check {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    main {
        width: 33%;
        margin: 30px 2px;
    }

    section {
        width: 66%;
    }
}

@media only screen and (min-width: 992px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    main {
        width: 33%;
        margin: 30px 2px;
    }

    section {
        width: 66%;
    }
    
    section form {
        display: flex;
        flex-wrap: wrap;
    }

    .dados {
        width: 47%;  
        margin: 2em 0.5em;      
    }

    #botao {
        width: 100%;
    }
}